
@media screen and (min-width: 992px){
  #mainNav{
    margin-top: 30px;
    // height: 70px;
  }
  .navbar li {
        margin-left : 1em;
        margin-right : 0.4em;
  }  

}

.navbar-bg-color{
  background: #ddd
}

#navbarResponsive{
  padding-top: 4px;
  padding-bottom: 4px;
}