
@media screen and (min-width: 991px){
  #mainNav{
    margin-top: 50px;
    // height: 70px;
  }  
}

.navbar-bg-color{
  background: #ddd
}

#navbarResponsive{
  padding-top: 4px;
  padding-bottom: 4px;
}