.full-width-background{
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  padding-top: 150px;
  display: flex;
  align-content: center;
  justify-content:center; 
  transition: opacity 0.2s ease;
  opacity: 1;
}
.invisible{
  opacity: 0.3;
}
.visible{
  opacity: 1;
}

@media screen and (max-width: 992px){
  .full-width-background{
    padding-top: 120px;
  }
}