.gallery-template>div{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-template > div > p {
  flex: 0 1 500px;
  padding: 10px;
  object-fit: cover;
  height: 500px;
}
.gallery-template > div > p >img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 2%;
}