.single-song{
  height: 50px;
  border-bottom: 0.5px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100%;
}
