.song-list__wrapper {
  display: flex;
  flex: 1 1 300px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  padding: 0px 20px;
  flex-direction: column;
  list-style: none;
  border: 0.7px solid #aaa;
  margin-bottom: 0;
}
.song-list__title {
  display: flex;
  flex: 0 1 90px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: 0.7px solid #aaa;
  // height: 80px;
}
.song-list__title h2 {
  margin: auto;
  // flex: 0 1 50px
}
.active {
  font-weight: 700;
  transform: scale(1.07);
}
.song-list__wrapper .single-song:hover {
  transform: scale(1.07);
}
