.back__button{
  position: fixed;
  cursor: pointer;
  top: 110px;
  left: 20px;
  z-index: 10;
}

@media screen and (max-width: 992px){
  .back__button{
    position: fixed;
    top: 85px;
    left: 20px;
    z-index: 10;
  }
}