.lyrics__wrapper{
  display: flex;
  flex: 1 1 300px;
  justify-content: flex-start;
  align-content: center;
  padding: 0px 20px;
  flex-direction: column;
  border: 0.7px solid #aaa;
  padding-bottom: 20px;
}
.lyrics__wrapper .single-song{
  font-weight: 700;
  font-size: 17px;
}

.lyrics__title{
  display: flex;
  flex: 0 1 90px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: 0.7px solid #aaa;
  // height: 80px;
}

.lyrics__title h5{
  margin: auto;
  // flex: 0 1 50px
}